<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NanYuan - e-commerce platform</title>

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheet/bootstrap.css') }}" />

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="mt-5"><font face="verdana" color="orange">NanYuan - e-commerce platform</font></h2>

            <br>
            <p class="lead">
            Cart: <br>
            <textarea name="results" rows="20" cols="100">
                {% for n in data %}
                    {{n}}
                {% endfor %}
            </textarea>
            </p>
            <p class="lead"><a href="/product">Browse Products</a></p>
         
            </p>
        </div>
      </div>
    </div>
  </body>

</html>