<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>W4111 Project</title>

    <!-- Bootstrap core CSS
    <link href="/templates/css/bootstrap.min.css" rel="stylesheet">
    -->

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheet/bootstrap.css') }}" />

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="nav-link" href="/MyCart">Go to my cart
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="navbar-brand" href="/">Log out</a>
                <span class="sr-only">(current)</span>
              </a>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <p><a href="/">Log out</a></p> -->
    <!-- <p><a href="/cart">Go to the cart page</a></p> -->

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="mt-5">w4111 - Blood Donation Manager</h2>
          <p class="lead">I'm a hospital Administrator. I can choose and query the database accordingly then: </p>
            <br>
            <p class="lead">
            Results: <br>
            <textarea name="results" rows="10" cols="100">
                {% for n in data %}
                    {{n}}
                {% endfor %}
            </textarea>
            </p>
        </div>
      </div>
    </div>
  </body>

</html>

